html 
{
    /* Main background and text color*/
    background-color: #181a21;
    color: white;
    padding: 20px 20px 20px 20px;

    /* Font style */
    font-size: 14px;
    font-family: "JetBrains Mono", monospace;

    h1  /*Heading 1 Style*/ 
    {
        font-size: 30px;
        text-align: left;
        background-color: #1c1e25;
        display: inline;
        
    }

    .linkedin-icon
    {
        float: right;
        padding: 10px;
    }

    .github-icon
    {
        float: right;
        padding: 10px;
    }

    /* About me style */
    .about-me
    {
        background-color: #1c1e25;
    }   

    h2 /* Heading 2 Style */
    {
        font-size: 22.5px;
    }

    p,li /* paragraph and line style */
    {
        font-size: 15px;
        line-height: 2;
        letter-spacing: 1px;
    }
}